.manageForms {
    .formStatusFilter, .formSearchFilter {
        display: inline-block;
        width:200px;
    }

    .info {
        color: @color-silver;
    }

    p, pre {
        max-width: 900px;
    }

    th.action, td.action {
        a {
            color: black;
        }
    }

    #filterStatus {
        margin-left: -0.75rem;

        .reporting-page & {
            margin-left: 0;
        }
    }

    .index {
        width: 60px;
    }

    td {
        .icon-ok {
            color: #43a047;
        }
    }

    th.conversionRulesConfigured {
        width: 60px;
    }
    th.action, td.action {
        width: 250px;
    }
}