<div class="manageReports">
    <div ng-show="!manageReports.editMode">
        <div piwik-reports-list></div>
    </div>
    <div ng-show="manageReports.editMode">
        <div piwik-report-edit
             id-custom-report="manageReports.idCustomReport"
             browser-archiving-disabled="manageReports.browserArchivingDisabled"
             re-archive-last-n="manageReports.reArchiveLastN"
        ></div>
    </div>
</div>