<span class="item-name"><span class="item-icon icon-user-personal"></span>{{ item.data.login }}</span>
<span class="item-data-title">{{ 'UsersManager_Email'|translate }}:</span><span class="item-data-text">{{ item.data.email }}</span>