{% extends 'admin.twig' %}

{% block topcontrols %}
    <div class="top_bar_sites_selector piwikTopControl">
        <div piwik-siteselector show-selected-site="true" class="sites_autocomplete"></div>
    </div>
{% endblock %}

{% block content %}
    <div piwik-reports-manage
         browser-archiving-disabled="{{ browserArchivingDisabled|json_encode|e('html_attr') }}"
         re-archive-last-n="{{ reArchiveLastN|json_encode|e('html_attr') }}"
    ></div>
{% endblock %}